html,body{
height:100%;
max-width: 1200px;
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
background-color: #ffffff;
color: #222020;
margin: 0px auto;
}

header h1 {
    text-align: center;
    font-size: 60px;
    font-weight: lighter;
    text-transform: uppercase;
    margin: 50px 0 100px;
}

.container {
    width: 1200px;
    height: auto;
}

.recipe.block {
    height: 400px;
    clear: both;
    margin-bottom: 50px;
    border-radius: 10%;
    position: relative;
}

.recipe.block:hover {
    background-color: rgba(25, 203, 235, 0.1);
    border-radius: 10%;
    transform: scale(1.05);
}

.recipe img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10%;
    border: 1px solid #000;
}

.recipe.odd img {float: left;}

.recipe.even img {float: right;}

.recipe.text {
    width: 700px;
    height: 400px;
    text-align: center;
}

.recipe.odd.text {float: right;}

.recipe.even.text {float: left;}

.recipe.text h4 {
    font-size: 30px;
    margin: 50px auto;
}

.recipe.text p {
    font-size: 20px;
    text-align: left;
}

.recipe .icon {
    font-size: 25px;
    position: relative;
    margin: 5px auto;
}


a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #0606b6;
}

/* Recipes page*/

.container-recipe{
    float: left;
    position: relative;
    height: 95%;
    width: 1200px; 
}

.left.bar.block{
    width: 450px;
    height: 100%;
    background-color: rgba(134, 209, 238, 0.192);
    border-radius: 7%;
}

.left.bar.block img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    position: relative;
    left: 25px;
    top: 25px;
    border-radius: 5%;
}

.left.bar.block .left.bar.text{
    position: relative;
    top: 25px;
    font-size: 20px;
}

.left.bar ul{list-style-type: none;}

#home-button{
    position: absolute;
    left: 150px;
    bottom: 15px;
    font-size: 20px;
}

.top.right.bar{
    position: absolute;
    top: 0;
    right: 0;
    width: 700px;
    background-color: rgba(134, 209, 238, 0.192);
    border-radius: 7%;
}

.bottom.right.bar{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 700px;
    background-color: rgba(134, 209, 238, 0.192);
    border-radius: 7%;
}

.right.bar h4{
    font-size: 30px;
    text-align: center;
    margin: 10px 0;
}


.right.bar li{font-size: 18px;}